# App Configuration
APP_NAME="Student Buddy"
APP_ENV=development
LOG_LEVEL=INFO
API_V1_PREFIX=/api/v1

# Database Configuration
# format: postgresql+asyncpg://user:password@host:port/dbname
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/student_buddy
